<ion-tabs>
  <ion-tab-bar slot="bottom" style="background-color: var(--ion-text-color);">
    <ion-tab-button tab="home" routerLink="/tabs/home" style="background-color: var(--ion-text-color);">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shop" routerLink="/tabs/shop" style="background-color: var(--ion-text-color);">
      <ion-icon name="bag-handle"></ion-icon>
      <ion-label>Shop</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" routerLink="/tabs/history" style="background-color: var(--ion-text-color);">
      <ion-icon name="file-tray-full"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" routerLink="/tabs/profile" style="background-color: var(--ion-text-color);">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>